<%= render :partial => 'admin/assets/subnav', :locals => {:na => true} %>

<div id="header">
	<h1>New file</h1>
	<br/>
</div>

<%= error_messages_for :mugshot %>

<% form_tag(Site.full_url + '/admin/assets/create', :multipart => true) do %>
  <%= render :partial => 'admin/assets/form' %>
  <div class="submit_area">
    <%= submit_tag 'Upload the file', :class => 'submit' %> or
    <%= link_to 'cancel and return to file list', Site.full_url + '/admin/assets' %>
  </div>
<% end -%>

<br/>
