<%= render :partial => 'admin/images/subnav', :locals => {:na => false} %>

<div id="header">
  <h1 class="skinny">Your images</h1>
  <h2 class="fat">Right-click on an image and copy link location to use it in your posts or pages.</h2><br />
  <% if flash[:notice] %><div class="green flash"><b>Success:</b> <%= flash[:notice] %></div><% end %>
</div>

<table class="list" cellspacing="0" cellpadding="0">

  <tr>
    <th class="first_col">Thumb</th>
    <th>Informations</th>
    <th class="del_col">X</th>
    <th>Thumb</th>
    <th>Informations</th>
    <th class="del_col">X</th>
  </tr>
  
  <% f = 1 -%>
  <% for image in @images -%>
    <%= "<tr class=\"#{ cycle('alt_row ','') + (f == 1 ? 'first_row' : '') } \">" if f % 2 == 1 %>
      <td class="<%= (f % 2 == 1 ? 'first_col' : '') %>"><%= link_to image_tag(image.public_filename(:thumb)), image.public_filename %></td>
      <td>
        Filename: <%= link_to image.filename, image.public_filename %><br />
        Uploaded at: <%= image.created_at.strftime('%d %b, %Y') %><br />
      </td>
      <td class="del_col"><%= link_to 'X', admin_image_path(image), :confirm => "You are about to delete this image (#{image.filename}). This is permanent.\n\nAre you ABSOLUTELY sure?", :method => :delete %></td>
    <%= "</tr>" if f % 2 == 0 %>
    <% f += 1 -%>
  <% end -%>
  <% if @images.length > 0 && f % 2 == 0 %>
    <%= "<td>&nbsp;</td>"*3 %>
    </tr>
  <% end %>
  <% unless @images.length > 0 -%>
  <tr class="first_row"><td class="first_col" colspan="3"><span class="gray">There are no images at this time.</span></td></tr>
  <% end -%>
</table>
<br/>
