<%= render :partial => 'admin/images/subnav', :locals => {:na => true} %>

<div id="header">
	<h1>New file</h1>
	<br/>
</div>

<%= error_messages_for :mugshot %>

<% form_tag(admin_images_path, :multipart => true) do %>
  <%= render :partial => 'admin/images/form' %>
  <div class="submit_area">
    <%= submit_tag 'Upload the file', :class => 'submit' %> or
    <%= link_to 'cancel and return to file list', admin_images_path %>
  </div>
<% end -%>

<br/>
